<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Backups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Available Backups</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

   <div class="simple_container">
    <ul>
      {% for b in backups %}
        <li>
          {{ b }}
          <form action="{{ url_for('restore_backup') }}" method="POST" style="display:inline;">
            <input type="hidden" name="filename" value="{{ b }}">
            <button type="submit" class="button-dashboard">Revert to this backup</button>
          </form>
        </li>
      {% endfor %}
    </ul>
</div>

</body>
</html>