<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="dashboard_header">
        <div>
            <button class="button-delete-account"
                onclick="document.getElementById('deleteAccountDialog').showModal()">Delete
                Account</button>
            <dialog class="dialog-delete-account" id="deleteAccountDialog">
                <form method="POST" action="{{ url_for('delete_account') }}">
                    <h3>Are you sure you want to delete your account?</h3>
                    <p>This will delete all of your files and can't be undone!</p>
                    <button class="button-dashboard" type="submit">Yes, I want to delete my account.</button>
                    <button class="button-dashboard" type="button"
                        onclick="this.closest('dialog').close()">Cancel</button>
                </form>
            </dialog>
        </div>

        <div>
            <h1>Welcome, {{ username }}!</h1>
        </div>
    </header>

    <div class="simple_container">
        <button class="button-dashboard" onclick="document.getElementById('createFolderDialog').showModal()">Create
            Folder</button>
        <dialog class="dialog-create-folder" id="createFolderDialog">
            <form method="POST" action="{{ url_for('create_folder') }}">
                <input type="text" name="folder_name" placeholder="Create Folder Name" required>
                <input type="hidden" name="parent_id" value="{{ current_folder_id or '' }}">
                <button class="button-dashboard" type="submit">Create Folder</button>
                <button class="button-dashboard" type="button" onclick="this.closest('dialog').close()">Cancel</button>
            </form>
        </dialog>

        <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
            <input type="hidden" name="folder_id" value="{{ current_folder_id }}">
            <input type="file" name="file" style="display:none" id="fileInput" onchange="this.form.submit();">
            <button class="button-dashboard" type="button"
                onclick="document.getElementById('fileInput').click();">Upload File</button>
        </form>

        <form method="POST" action="{{ url_for('logout') }}">
            <button class="button-dashboard" type="submit">Logout</button>
        </form>
        
        {% if role == 'admin' %}
          <a href="{{ url_for('admin_monitoring_panel') }}">
            <button class="button-dashboard" type="button">Monitoring</button>
          </a>
        {% endif %}
    </div>

    <div class="user-files-container">
        <div>
            <div class="div-user-files-nav">
                {% if current_folder_id %}
                
                <a href="{{ url_for('dashboard') }}">
                    <button class="button-dashboard" type="button">🏠 Home</button>
                </a>

                <a href="{{ url_for('dashboard', folder=parent_id if parent_id else '') }}">
                    <button type="button" class="button-dashboard">⬅ Back</button>
                </a>
                {% endif %}
            </div>

            <table class="table-user-files">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for folder in folders %}
                    <tr>
                        <td>
                            <a href="{{ url_for('dashboard', folder=folder.id) }}">
                                <button type="button" class="button-dashboard">{{ folder.name }}</button>
                            </a>
                        </td>
                        <td>Folder</td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_folder') }}">
                                <input type="hidden" name="folder_id" value="{{ folder.id }}">
                                <input type="hidden" name="parent_id" value="{{ current_folder_id or '' }}">
                                <button class="button-dashboard" type="submit">🗑️ Delete</button>
                            </form>
                            <a href="{{ url_for('download_folder', folder_id=folder.id) }}">
                                <button class="button-dashboard" type="button">💾 Download</button>
                            </a>
                            <button class="button-dashboard"
                                onclick="document.getElementById('renameFolderDialog{{ folder.id }}').showModal()">🖊️
                                Rename</button>
                            <dialog class="dialog-create-folder" id="renameFolderDialog{{ folder.id }}">
                                <form method="POST" action="{{ url_for('rename_folder') }}">
                                    <input type="text" name="folder_name" placeholder="Rename Folder name" required>
                                    <input type="hidden" name="folder_id" value="{{ folder.id }}">
                                    <input type="hidden" name="parent_id" value="{{ current_folder_id or '' }}">
                                    <button class="button-dashboard" type="submit">Rename Folder</button>
                                    <button class="button-dashboard" type="button"
                                        onclick="this.closest('dialog').close()">Cancel</button>
                                </form>
                            </dialog>
                        </td>
                    </tr>
                    {% endfor %}

                    {% for file in files %}
                    <tr>
                        <td>{{ file.original_name }}</td>
                        <td>{{ file.mime_type }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_file') }}">
                                <input type="hidden" name="file_id" value="{{ file.id }}">
                                <input type="hidden" name="parent_id" value="{{ current_folder_id or '' }}">
                                <button class="button-dashboard" type="submit">🗑️ Delete</button>
                            </form>
                            <a href="{{ url_for('download_file', file_id=file.id) }}">
                                <button class="button-dashboard" type="button">💾 Download</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>