<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="general_container">
    <h2>Register New User</h2>
    <form class="login_register" action="{{ url_for('register_request') }}" method="POST">
      <label>Username:</label><br>
      <input type="text" name="username" required><br><br>

      <label>Password:</label><br>
      <input type="password" name="password" required><br><br>

      <input class="button-yellow" type="submit" value="Register">
    </form>

    {% if msg %}
    <p style="color:red;">{{ msg }}</p>
    {% endif %}
  </div>
</body>

</html>